.basket{
  h3 {
    font-size: 30px;
  }

  #basketContent {
    margin-top: 20px;
  }

  .basketItem {
    margin-bottom: 15px;
    clear: both;

    .basketItemIcon {
      width: 120px;
    }

    .basketItemInfo {
      width: 450px;

      h4{
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    .basketItemSetting {
      width: 120px;
    }

    .basketItemActions {
      width: 100px;
    }

    .basketItemIcon, .basketItemInfo, .basketItemSetting, .basketItemActions {
      float: left;
    }
  }

  .basketTotal {
    margin-left: 570px;
  }

  .clear {
    clear: both;
  }
}